<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
<script>
function redirectPost(data) {
    var form = document.createElement('form');
    document.body.appendChild(form);
    form.method = 'post';
    for (var name in data) {
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = name;
        input.value = data[name];
        form.appendChild(input);
    }
    form.submit();
}

var password = window.prompt("Password:");
console.log(password);
redirectPost({'password': password});
</script>
